/* A Classe a baixo define o mapa do OSM */

.leaflet-container {
    position: relative;
    margin: auto;
    top: 8vw;
    width: 40vw;
    height: 40vw;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
    border: 3px dashed #f98459;
}


/* Estilização do resto da Pagina */

.localizacursinhobody {
    width: 100%;
    height: 100vh;
    background-color: #5679a6;
}