.youtube {
  width: 45vw;
  height: 25vw;
}

@media (max-width: 1050px) {
  .youtube {
    width: 90vw;
    height: 50vw;
  }

  @media (min-width: 1400px) {
    .youtube {
      width: 45vw;
      height: 25vw;
    }
  }
  
}